* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000
}

::-webkit-scrollbar-track {
    background: rgb(19 18 18);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 30px;
}

.main-content {
    display: flex;
    flex-direction: column;
    /*padding-top: 50vh;*/
}

.principal-content {
    height: 100vh;
    width: 100%;
    background-image: url("../images/castlevania-serie.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.seeNow {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DCDCDC;
    background: none;
    border: 0.15rem solid #DCDCDC;
    border-radius: 10px;
    height: 8vh;
    width: 12vw;
    position: relative;
    margin: 50vh 20vw;
    cursor: pointer;
}

.text-categorys {
    color: #FFFFFF;
}

.category {
    display: flex;
    padding-left: 0.5vw;
    overflow: auto;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.movie {
    height: 40vh;
    width: 100vw;
    border: 2px solid black;
    margin-right: 0.5vw;
    cursor: pointer;
}

.movie img {
    width: 225px;
    height: 40vh;
}

@media (max-width: 1000px) {
    .movie img {
        width: 45vw;
    }
    .category {
        overflow: auto;
        padding-left: 1rem;
    }
}

@media (max-width: 800px) {
    .seeNow {
        font-size: 12px;
    }
    .movie img {
        width: 40vw;
    }
    .category {
        overflow: auto;
        padding-left: 1rem;
    }
}

@media (max-width: 600px) {
    .principal-content {
        height: 40vh;
        width: 100%;
    }
    .seeNow {
        font-size: 1.8rem;
        margin: 10vh;
        height: 12vh;
        width: 25vw;
        padding: 0.3rem 0.2rem 0.2rem 0.3rem;
    }
    .category {
        overflow: auto;
        padding-left: 1rem;
    }
    .movie img {
        width: 30vw;
    }
}