    * {
        padding: 0;
        margin: 0;
        font-family: 'Nunito Sans', sans-serif;
    }
    
     :root {
        --color-primary: #ff0000;
        --color-secondary: #615454;
        --color-background-secondary: #222121;
        --color-gray: #49495B;
        --color-text: #b0b0b5;
        --color-white: #fff;
        --border-radius: 5px;

        --background-transparent: rgba(0, 0, 0, 0.7);
    }
    
    body.bg-films {
        background-image: url("../images/netflix-background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: currentcolor;
    }
    
    header {
        background: linear-gradient(180deg, rgba(0, 0, 0, .69) 0%, rgba(0, 0, 0, 0) 100%);
    }
    
    header img {
        width: 150px;
    }
    
    .block-master {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    
    .login-box {
        background-color: var(--background-transparent);
        width: 310px;
        margin-top: 5%;
        padding: 62px;
        border-radius: var(--border-radius);
    }
    
    .login-box p {
        display: flex;
        justify-content: space-between
    }
    
    .login-box h1 {
        display: flex;
        align-items: center;
        color: var(--color-white);
        margin-top: 20px;
        font-size: 25px;
    }
    
    .login-box .input-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 26px;
    }

    .help-text {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .help-a {
        margin-left: 5px;
    }

    .help-text a {
        justify-content: space-between;
        color: var(--color-secondary);
    }
    
    .help {
        cursor: pointer;
    }
    
    #input1,
    #input2 {
        margin-top: 10px;
        padding: 17px 15px;
        border-radius: var(--border-radius);
        width: 92%;
        font-size: 14px;
        border: none;
        background-color: var(--color-background-secondary);
        outline: none;
        color: var(--color-white);
    }
    
    #button {
        width: 100%;
        padding: 17px 20px;
        border-radius: var(--border-radius);
        margin-top: 35px;
        background-color: var(--color-primary);
        border: none;
        font-size: 20px;
        font-weight: 700;
        color: var(--color-white);
        cursor: pointer;
    }
    
    #checkbox {
        margin-top: 7px;
        cursor: pointer;
    }
    
    
    
    .social-media {
        display: flex;
        align-items: center;
        margin-top: 70px;
        font-size: 15px;
        color: var(--color-secondary);
    }
    
    .facebook-icon {
        width: 30px;
        cursor: pointer;
    }
    
    .social-media img {
        padding: 5px;
    }
    
    .purchase {
        display: flex;
        align-items: center;
        font-size: 15px;
        color: var(--color-secondary);
    }
    
    .purchase a {
        font-weight: bold;
        font-size: 15px;
        color: var(--color-white);
        cursor: pointer;
    }
    
    @media (max-width: 800px) {
        .menu {
            display: none;
        }
    }

    @media (max-width: 280px) {
        .menu {
            display: none;
        }

        .login-box {
            margin-top: 35%;
            width: 90%;
        }

        .help-text, .help {
            display: block;
            text-align: center;
        }
    }